body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gameCard {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin: 1rem;
}

.gameCard img {
  width: 7%;
  hieght: 7%;
  margin: 1rem;
}

.imageDiv {
  text-align: left;
}

.cards {
  list-style: none;
}